<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aa.mapper.VideoMapper">

    <select id="getCount" resultType="long">
        select count(1) from video
    </select>

    <insert id="faBu">
        insert into video
        (adminId,title,content,type,text,createTime,dianZan,shouCang,pingLun)
        values
        (#{adminId},#{title},#{content},#{type},#{text},#{createTime},#{dianZan},#{shouCang},#{pingLun})
    </insert>
    <select id="getTextCount" resultType="int">
        select count(1) from video where text is not null
    </select>


    <select id="videos" resultType="String">
        select content from video where adminId=#{adminId} and type='mp4' order by createTime desc limit #{page},6
    </select>

    <select id="liuLan" resultType="cn.aa.pojo.Video">
        select * from ( select *,(@i:=@i+1)s from video ,(select (@i:=0))b order by createTime desc )a where
        a.s>=#{number} order by a.s asc limit #{page},5
    </select>
    <select id="videosnumber" resultType="int">
        select s from ( select *,(@i:=@i+1)s from video ,(select (@i:=0))b order by createTime desc )a where
        a.id=#{startId}
    </select>


</mapper>